<template>
  <span :title="timestamp | humanFriendlyDate">
    {{ timestamp | diffForHumans }}
  </span>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    timestamp: {
      required: true,
      type: Number
    }
  },

  filters: {
    diffForHumans (date) {
      return moment.unix(date).fromNow()
    },

    humanFriendlyDate (date) {
      return moment.unix(date).format('MMMM Do YYYY, h:mm:ss a')
    }
  }
}
</script>

<style>
</style>
